@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--off-black);
}

.container {
    padding: 1rem;
    background-color: var(--dark-grey);
    border-radius: 0.5rem;
    width: 90%;
    height: 610px;
    max-width: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header,
main,
.contact-list,
li,
a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-picture {
    border-radius: 50%;
    max-width: 90px;
    width: 100%;
}

.name {
    color: var(--white);
    font-weight: 600;
    font-size: 21px;
    margin-top: 1.25rem;
    text-align: center;
}

.ubication {
    color: var(--green);
    font-weight: 600;
    font-size: 12px;
    margin-top: 0.50rem;
    text-align: center;
}

.presentation {
    color: var(--white);
    font-size: 12px;
    margin-top: 2rem;
    text-align: center;
}

.contact-list {
    list-style: none;
    text-align: center;
    padding-top: 1.5rem;
}

.contact-list li:not(:last-child) {
    margin-bottom: 1rem;
}

.contact-list li a {
    background-color: var(--grey);
    width: 90%;
    height: 2.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    transition: 0.1s;
}

.contact-list li a:hover {
    background-color: var(--green);
    color: var(--grey);
}
